*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../img/fondo.jpg);
    background-size:cover;
    background-position: center;
}
a{
    text-decoration: none;
    color: black;
}
/*************************************************************************************INDEX*/
/*************************************************HEADER*/
header{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
}
.title{
    width: 100%;
    height: 50%;
    align-content: center;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
}
.title ul{
    justify-content: space-around;
}
.title ul li img{
    width: 220px;
}
.wsp{
    border: 1px solid;
    border-radius: 20px;
    padding: 10px;
}
.wsp:hover{
    color: white;
    background-color: rgb(47, 205, 55);
}
.wsp, .contact_wsp{
    color: rgb(47, 205, 55);
}
nav{
    height: 50%;
    align-content: center;
}
nav ul li:hover{
    /* border: 1px solid black;
    border-radius: 20px;
    padding: 10px; */
    /* text-decoration: underline; */
    animation: ani 2s ;
}
@keyframes ani{
    0%{padding:0px;}
    10%{border: 1px solid black;
        border-radius: 20px;
        padding: 10px;}
    100%{border: 1px solid black;
        border-radius: 20px;
        padding: 10px;}
}

/*************************************************BODY*/
section{
    width: 100%;
    height: 85vh;
    overflow: hidden;
}
.galeria_cont{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.galeria{
    width: 100%;
    height: 100%;
    background-image:url(../img/img1.jpg);
    background-size:cover;
    background-position: center;
    display: flex;
    align-items:center;
    justify-content: center;
    animation: gal 40s infinite;
}
@keyframes gal{
    0% {background-image: url(../img/img1.jpg);}
    20% {background-image: url(../img/img2.jpg);}
    40% {background-image: url(../img/img3.jpg);}
    60% {background-image: url(../img/img4.jpg);}
    80% {background-image: url(../img/tarjeta2.jpg);}
    100% {background-image: url(../img/img1.jpg);}
}
.organiza_viaje{
    background-color: rgba(255, 255, 255, 0.712);
    position: relative;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 100px;
    padding: 10px 40px;
    margin: 20px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    top:270px;
    border: 2px solid black;
}
.who_cont, .price_cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.who, .price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    padding: 50px 0;
}
.price hr{
    width: 50%;
}
.price h2{
    text-decoration: underline;
}
.who_cont img{
    width: 100%;
}

/*************************************************MODAL*/
.modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.386);
    display: none;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    overflow: auto;
}
.modal_cont{
    width: 80%;
    background-color: white;
    border: 2px black double;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.modal_cont h2{
    text-align: center;
}
.close{
    font-size: 30px;
}

/*************************************************FOOTER*/
footer{
    background-color: rgb(21, 21, 21);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 20px 0;
}
p{
    margin: 10px 0;
    font-weight: 600;
}
.insta, .contact_insta{
    color: rgb(231, 98, 68);
}

/*************************************************************************************CONTACTO*/
.contact_section{
    background-image: url(../img/contact3.jpg);
    background-position: center;
    background-size: cover;
}
.form_cont{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.329);
}
.form_cont h2{
    margin:20px 0;
}
.contact_ico{
    border: 1px solid;
    border-radius: 20px;
    padding: 10px;
    margin: 0 10px;
    background-color: rgba(60, 60, 60, 0.352);
}
.contact_wsp:hover{
    color: white;
    background-color: rgb(47, 205, 55);
}
.contact_insta:hover{
    color: white;
    background-color: rgb(231, 98, 68);;
}
form{
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.812);
}
form textarea{
    height: 100px;
}